@model IEnumerable<TempConsELearning.Models.Course>

@{ 

    Layout = null;
}


@foreach (var item in Model)
{
    <div class="col s3">
        <div class="card hoverable">
            <div class="card-image">

                <img src="@Url.Content(item.CourseImage)" width="100px;" height="100px;" />
                <span class="card-title" style="font-size:small; color:fuchsia;">new</span>
            </div>
            <div class="card-content">

                <div class="row">
                    <div class="col s8">
                        <h5 style="font-size:large; font-style:italic; font-weight:bold;">@item.CourseName</h5>
                        <h6 style="font-size:small">@item.CourseTitle</h6>
                        <p style="font-size:small;">
                            @item.CourseFieldCategory <br />
                           <i class="tiny material-icons">closed_caption</i> @item.Language <br />
                            Ratings
                            @for (int i = 0; i < item.Ratings; i++)
                            {
                                <i class="tiny material-icons">star</i>
                            } 
                        </p>
                    </div>
                    <div class="col s4">
                         @Html.ActionLink("View Details","_ViewDetails",new {id=item.CourseId})
                    </div>
                </div>
            </div>
        </div>
    </div>

}